---
const year: number = new Date().getFullYear()
---

<footer class="flex flex-col justify-between items-center w-full h-[200px] bg-background-dark dark:bg-blue-900 text-gray-600 dark:text-white">
  <section class="w-[99%] border-b-[1px] dark:border-white border-gray-600 my-5">
    <h1 class="">Todo este portafolio esta hecho con Astro.js :)</h1>
  </section>
  <section class="flex w-full pl-2">
    <ul class="flex flex-col lg:flex-row justify-start items-center w-full gap-2">
      <li>
        <a class="hover:border-b-2 hover:border-gray-600 hover:dark:border-white" href="#technologies">Tecnologias</a>
      </li>
      <li>
        <a class="hover:border-b-2 hover:border-gray-600 hover:dark:border-white" href="#presentation">Presentacion</a>
      </li>
      <li>
        <a class="hover:border-b-2 hover:border-gray-600 hover:dark:border-white" href="#projects">Proyectos</a>
      </li>
    </ul>
  </section>
  <h1>© {year} Carlos Barboza | Paraguay</h1>
</footer>