---
const year: number = new Date().getFullYear()
---

<footer class="flex flex-col justify-between items-center w-full h-[100px] bg-background-dark text-gray-600">
  <section class="w-[99%] border-b-[1px] border-gray-600">
    <h1 class="">Todo este portafolio esta hecho con Astro.js :)</h1>
  </section>
  <section class="flex w-full pl-2">
    <ul class="flex flex-col lg:flex-row justify-start items-center w-full gap-2">
      <li>
        <a class="hover:border-b-2 hover:border-gray-600" href="#technologies">Tecnologias</a>
      </li>
      <li>
        <a class="hover:border-b-2 hover:border-gray-600" href="#presentation">Presentacion</a>
      </li>
      <li>
        <a class="hover:border-b-2 hover:border-gray-600" href="#projects">Proyectos</a>
      </li>
    </ul>
  </section>
  <h1>© {year} Carlos Barboza | Paraguay</h1>
</footer>