---
import { Icon } from "astro-icon/components"

import type { Technology } from "@interfaces/interfaces.ts"

interface Props {
  technology: Technology,
  index: number
}

const { technology, index } = Astro.props
---

<div class:list={[
		index % 2 == 0 ? 'animate-float-1' : 'animate-float-2',
		'flex justify-center items-center h-max w-44 lg:w-72 text-white z-[100]'
	]}>
	<div class="flex flex-col justify-center items-center">
		<Icon name={technology.icon} size={80} />
	  	<h1 class="text-xl">{technology.name}</h1>
	</div>
</div>

<style>
	@keyframes float-1 {
		0%, 100% {
			transform: translateY(30px);
		}
		50% {
			transform: translateY(-30px);
		}
	}

	.animate-float-1 {
		animation: float-1 10s ease-in-out infinite;
	}

	@keyframes float-2 {
		0%, 100% {
			transform: translateY(-30px);
		}
		50% {
			transform: translateY(30px);
		}
	}

	.animate-float-2 {
		animation: float-2 10s ease-in-out infinite;
	}
</style>