---
import { Icon } from "astro-icon/components"

interface SocialMedia {
    name: string,
    href: string
}

const socialMedia: SocialMedia[] = [
    { name: "instagram", href: "" },
    { name: "github", href: "https://github.com/Barboza13" },
    { name: "linkedin", href: "https://www.linkedin.com/in/carlos-barboza-274144209/" }
]
---

<section 
    class="flex flex-col justify-center items-start w-full lg:h-screen border-b-[1px] border-white dark:border-gray-600 px-10 pb-5"
    id="presentation"
>

    <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center w-full pb-4">
        <div class="flex flex-col justify-center items-center w-full lg:w-auto z-[100] mb-5">
            <div class="w-64 h-64 border border-white rounded-xl rotate-6 hover:-rotate-0 duration-75 ease-in overflow-hidden mb-3">
                <img src="https://previews.123rf.com/images/kritchanut/kritchanut1405/kritchanut140500070/28162537-hombre-foto-de-perfil-silueta-avatar-en-c%C3%ADrculo-icono-de-vectores.jpg" alt="Imagen mia">
            </div>
            <h1 class="text-3xl text-white">Carlos Barboza</h1>
        </div>

        <div class="flex flex-col justify-start items-start h-full mr-20">
            <h1 class="text-xl text-white">Redes Sociales</h1>
            <div class="flex justify-center items-center gap-2">
                { socialMedia.map(({name, href}) => (
                    <a class="z-[100]" href={href}>
                        <Icon class="cursor-pointer" name={name} size={40}/>
                    </a>
                    )) }
            </div>
        </div>
    </div>

    <div>
        <div class="relative h-12 overflow-hidden flex items-center justify-start">
            <span id="animated-text" class="absolute text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text animate-[gradient-move_3s_linear_infinite] transition-transform duration-500 opacity-100 text-5xl mb-3">
            </span>
        </div>
        <p class="text-white">
            +1 año de experiencia como freelancer. Apasionado por aplicar la programacion en diferentes areas de la industria informatica.
        </p>
        <p class="text-white">
            Me gusta buscar soluciones tecnologicas aplicando la programacion a los problemas cotidianos.
        </p>
    </div>
</section>

<script>
    const texts = ["Desarrollador Web", "Freelancer"]
    let currentIndex = 0
    const animatedText = document.getElementById("animated-text")

    const changeText = (): void => {
        animatedText?.classList.add("opacity-0", "-translate-y-full")

        setTimeout(() => {
            currentIndex = (currentIndex + 1) % texts.length
            if (animatedText) animatedText.textContent = texts[currentIndex] 

            animatedText?.classList.remove("opacity-0", "-translate-y-full")
            animatedText?.classList.add("opacity-100", "translate-y-0")
        }, 500)

    }

    setInterval(changeText, 3000)
</script>