---
import NavBar from "@components/NavBar.astro"
import { Icon } from "astro-icon/components"
import perfil from "@images/perfil.jpg"

interface SocialMedia {
    name: string,
    href: string
}

const socialMedia: SocialMedia[] = [
    { name: "instagram", href: "https://www.instagram.com/carlosbarboza39" },
    { name: "github", href: "https://github.com/Barboza13" },
    { name: "linkedin", href: "https://www.linkedin.com/in/carlos-barboza-274144209/" }
]
---

<section
    class="flex flex-col justify-start items-start w-full lg:h-screen border-b-[1px] border-white dark:border-gray-600 shadow-presentation-shadow px-10"
    id="presentation"
>
    <NavBar />
    <div class="flex flex-col lg:flex-row justify-between items-start lg:items-center w-full mt-10">
        <div class="flex flex-col justify-center items-center w-full lg:w-auto z-[100] mb-5">
            <div class="w-64 h-64 border border-white rounded-xl overflow-hidden shadow-profile-shadow mb-3">
                <img src={perfil.src} alt="imagen de perfil">
            </div>
            <h1 class="text-3xl text-white">Carlos Barboza</h1>
        </div>

        <div class="flex flex-col justify-start items-start h-full mr-20">
            <h1 class="text-xl text-white">Redes Sociales</h1>
            <div class="flex justify-center items-center gap-2">
                { socialMedia.map(({name, href}) => (
                    <a class="z-[100]" href={href}>
                        <Icon class="cursor-pointer" name={name} size={40}/>
                    </a>
                    )) }
            </div>
        </div>
    </div>

    <div>
        <div class="relative h-12 overflow-hidden flex items-center justify-start">
            <span
                id="animated-text"
                class="absolute text-transparent bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 bg-clip-text animate-gradient-move transition-all duration-500 text-4xl lg:text-5xl font-bold bg-[length:200%_200%] mb-3">
            </span>
        </div>
        <p class="text-white">
            +1 año de experiencia como freelancer. Apasionado por aplicar la programación en diferentes áreas de la industria informática.
        </p>
        <p class="text-white">
            Me gusta buscar soluciones tecnológicas aplicando la programación a los problemas cotidianos.
        </p>
    </div>
</section>

<script>
    const texts = ["Web Developer", "Freelancer"]
    let currentIndex = 0
    const animatedText = document.getElementById("animated-text")

    const changeText = (): void => {
        animatedText?.classList.remove("opacity-100", "translate-y-0")
        animatedText?.classList.add("opacity-0", "-translate-y-full")

        setTimeout(() => {
            currentIndex = (currentIndex + 1) % texts.length
            if (animatedText) animatedText.textContent = texts[currentIndex] 

            animatedText?.classList.remove("opacity-0", "-translate-y-full")
            animatedText?.classList.add("opacity-100", "translate-y-0")
        }, 500)

    }

    changeText()
    setInterval(changeText, 3000)
</script>