---

---

<section 
    class="flex flex-col justify-center items-start lg:min-h-screen shadow-inner shadow-blue-900"
    id="presentation"
>
    <div class="ml-10">
        <h1 class="text-3xl text-white">Carlos Barboza</h1>
        <h3 class="text-white">Desarrollador Web</h3>
        <p class="text-white">
            +1 año de experiencia como freelancer. Apasionado por aplicar la programacion en diferentes areas de la industria informatica.
        </p>
        <p class="text-white">
            Me gusta buscar soluciones tecnologicas mediante la programacion en los problemas cotidianos.
        </p>
    </div>
</section>