---
import ProjectCard from "@components/ProjectCard.astro"
import ucaFrontPage from "@images/UCA_app_web.png"

import type { Project } from "@interfaces/interfaces.ts"

const projects: Project[] = [
    {
        img: ucaFrontPage,
        name: "Aplicacion Web",
        description: "Una aplicación web para la Universidad Católica 'Nuestra Señora de la Asunción'. Estuve a cargo del desarrollo del Backend con Laravel y MySQL, realice los CRUDs pertinentes para cada sección, implemente un sistema de cambio de contraseña mediante mails. También contribuí en el Frontend con diseños de Bootstrap.",
        technologies: ["Laravel", "Bootstrap", "MySQL"],
        href: "https://www.upsanignacio.edu.py/"
    },
    {
        img: ucaFrontPage,
        name: "Aplicacion web UCA UP San Ignacio Guazu",
        description: "Pagina web UCA",
        technologies: ["Laravel", "Bootstrap", "MySQL"],
        href: "https://www.upsanignacio.edu.py/"
    },
    {
        img: ucaFrontPage,
        name: "Aplicacion web UCA UP San Ignacio Guazu",
        description: "Pagina web UCA",
        technologies: ["Laravel", "Bootstrap", "MySQL"],
        href: "https://www.upsanignacio.edu.py/"
    },
]
---

<section
    class="flex flex-col justify-start items-center lg:h-screen border-b-[1px] border-white dark:border-gray-600"
    id="projects"
>
    <h1 class="text-3xl text-white my-5">Proyectos</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-full w-full place-content-center lg:px-32">
        { projects.map((project) => (<ProjectCard project={project} />)) }
    </div>
</section>