---
import ProjectCard from "@components/ProjectCard.astro"
import ucaFrontPage from "@images/UCA_app_web.png"
import personalFinanceFrontPage from "@images/personal_finance_web.png"
import weatherWebAppFrontPage from "@images/weather_web_app.png"
import quizAppWebAppFrontPage from "@images/quiz_app_web.png"

import type { Project } from "@interfaces/interfaces.ts"

const projects: Project[] = [
    {
        img: ucaFrontPage,
        name: "Página Web / Aplicación Web",
        description: "Una página y aplicación web para la Universidad Católica 'Nuestra Señora de la Asunción'. Cuenta con gestión de contenido administrativo y académico.",
        technologies: ["Laravel", "Bootstrap", "MySQL"],
        href: "https://www.upsanignacio.edu.py/",
        gitHub: "#"
    },
    {
        img: personalFinanceFrontPage,
        name: "Aplicación Web",
        description: "Una aplicación web para control de ingresos y egresos personales. Cuenta con integración de gráficos para el seguimiento de las finanzas personales.",
        technologies: ["Vue.js", "Typescript", "Tailwindcss"],
        href: "https://personal-finance-beta.vercel.app/",
        gitHub: "https://github.com/Barboza13/personal-finance"
    },
    {
        img: weatherWebAppFrontPage,
        name: "Aplicación Web",
        description: 'Una aplicación web para mostrar el estado del clima en diferentes partes del mundo. Consumo y procesamiento de los datos de la API "Visual Crossing Weather API".',
        technologies: ["Vue.js", "Typescript", "Tailwindcss"],
        href: "https://weather-web-app-delta-five.vercel.app/",
        gitHub: "https://github.com/Barboza13/weather-web-app"
    },
    {
        img: quizAppWebAppFrontPage,
        name: "Aplicación Web",
        description: "Una aplicación web de cuestionario para responder preguntas y obtener o perder puntos basándose en las respuestas correctas e incorrectas.",
        technologies: ["Vue.js", "Typescript", "CSS"],
        href: "https://quiz-app-carlos-barboza.vercel.app/",
        gitHub: "https://github.com/Barboza13/quiz-app",
    }
]
---

<section
    class="flex flex-col justify-start items-center"
    id="projects"
>
    <h1 class="text-3xl text-white my-5">Proyectos</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 h-full w-full place-content-center place-items-center gap-4 px-11 pb-5">
        { projects.map((project) => (<ProjectCard project={project} />)) }
    </div>
</section>