---
import TechnologyCard from "@components/TechnologyCard.astro"
---

<section class="flex flex-col justify-center items-center lg:min-h-screen" id="technologies">
    <h1>Tecnologias</h1>
</section>