---
import NavBar from "@components/NavBar.astro"

interface Props {
	title: string
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-background-light dark:bg-background-dark">
		<NavBar />
		<slot />
	</body>
</html>

<script>
	import updateFavicon from "@utils/updateFavicon.ts"

	document.addEventListener('DOMContentLoaded', updateFavicon)
	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateFavicon)
</script>